<!DOCTYPE html>

<html>

<head>
    <title>Not Found</title>

    <link rel="stylesheet" href="/css/styles.css">

    <script src="/js/scripts.js"></script>
</head>


<body>
    <div class="main-content">
        {{>header}}

        <h1>{{pageNotfoundMessage}}</h1>
    </div>

    {{>footer}}
</body>

</html>